.guarantees-section {
    padding-top: 73px;
    padding-bottom: 57px;
    background: linear-gradient(180deg, #F8F6F7 0%, rgba(255, 255, 255, 0.7) 100%);
    margin-top: -16px;
}
.guarantee-card {
    width: 313px;
    height: 79px;
    text-align: left;
    background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0px 3.22738px 3.22738px 0px;
}
.guarantee-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #21325E;
    margin-left: 13px;
}
.guarantee-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #21325E;
    margin-left: 13px;
}
.guarantees-section .container {
    max-width: 792px;
}
.guarantees-section .row {
    row-gap: 65px;
}

/* x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .guarantee-title {
        font-size: 12px;
        line-height: 15px;
    }
    .guarantee-text {
        font-size: 10px;
        line-height: 12px;
    }
    .guarantee-card img {
        width: 41px;
        height: 50px;
    }
    .guarantee-card {
        width: 208px;
        height: 50px;
    }
    .guarantees-section .row {
        row-gap: 17px;
    }
    .guarantees-section {
        padding: 32px 0 16px 0;
    }
}