.layout {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.modal-content {
    opacity: 95%;
    border-radius: 20px;
}
.modal-title {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #21325E;
}
.modal-body {
    padding: 10px 67px 30px 67px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.modal-body h6 {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #21325E;
    margin: 0;
}
footer {
    background: #FFFFFF !important;
}

/* x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    footer {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
    }
    .modal-content {

    }
    .modal-title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 0 !important;
    }
    .modal-body {
        padding: 10px 23px 23px 23px;
        font-size: 10px;
        line-height: 12px;
    }
    .modal-body h6 {
        font-size: 10px;
        line-height: 12px;
    }
}