.partners-section {
    background: linear-gradient(180deg, #F0C760 0%, #FBD64E 100%);
    border-radius: 20px 20px 0px 0px;
    padding-top: 32px;
    padding-bottom: 102px;
    position: relative;
    z-index: 0;
}
.partners-card-with-icon {
    background: #FFFFFF;
    border-radius: 5px;
    width: 389px;
}
.partners-card-only-text {
    background: #FFFFFF;
    border-radius: 5px;
}
.partners-card-bottom {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 25px 63px;
}
.ellipse1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.ellipse2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.ellipse1-mobile, .ellipse2-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .partners-card-bottom {
        width: 382px;
        padding: 15px 18px;
    }
}

.partners-card-bottom-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3E497A;
    text-align: start;
}
.partners-section .container {
    margin-top: 30px;
    max-width: 820px;
}
.partners-card-text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #21325E;
    margin-left: 14px;
}
.partners-card-with-icon img {
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65px;
    height: 55px;
}
.partners-card-bottom-text p {
    margin-bottom: 0;
}
.offer_terms_text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #3E497A;

    margin-top: 16px;
    display: none !important;
}
.offer-terms-button {
    background: #FFFFFF;
    border-radius: 2.81818px;
    filter: drop-shadow(0px 2.25455px 2.81818px rgba(0, 0, 0, 0.1));
    width: 90px;
    height: 24px;
    text-decoration: none;
    margin-top: 12px;
    display: none !important;
}
.offer-terms-button-text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10.1455px;
    line-height: 12px;
    background: linear-gradient(180deg, #3E497A 0%, #5563A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .ellipse1, .ellipse2 {
        display: none;
    }
    .ellipse1-mobile {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .ellipse2-mobile {
        display: initial;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .partners-section {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .partners-section .container {
        margin-top: 16px;
    }
    .partners-section .container .row {
        row-gap: 8px;
        --bs-gutter-y: 0;
    }
    .partners-card-with-icon img {
        width: 40px;
        height: 29px;
    }
    .partners-card-text {
        font-size: 16px;
        line-height: 20px;
    }
    .partners-card-bottom-text {
        font-size: 16px;
        line-height: 19px;
    }
    .partners-card-with-icon {
        max-width: 304px;
    }
    .partners-card-bottom {
        max-width: 304px;
        margin-top: 8px;
        padding: 10px 22px 4px;
    }
    .partners-card-bottom p {
        margin-bottom: 6px;
    }
    .offer-terms-button {
        display: none !important;
    }
    .offer_terms_text {
        display: initial !important;
        font-size: 16px;
        line-height: 20px;
    }
    .nav-link {
        font-size: 12px;
        line-height: 15px;
    }
    .navbar-nav {
        align-items: center;
        height: initial;
    }
}
