.services-panel {
    background: linear-gradient(180deg, #F0C760 0%, #FBD64E 100%);
    border-radius: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.services-header {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}