.services-section {
    background: linear-gradient(180deg, #F0C760 0%, #FBD64E 100%);
    border-radius: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.services-header {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    position: relative;
}
.service-card {
    width: 299px;
    height: 230px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
    background-image: url("../images/service-card-bg.png");
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.splide {
    max-width: 1012px;
    margin: 30px auto;
    z-index: 2;
}
.splide__arrow--prev {
    background: url("../images/back-button.png") !important;
    width: 16px !important;
    height: 28px !important;
}
.splide__arrow--next {
    background: url("../images/next-button.png") !important;
    width: 16px !important;
    height: 28px !important;
}
.service-card-distance {
    position: absolute;
    left: 0.33%;
    right: 0%;
    top: 6.96%;
    bottom: 81.3%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #3E497A;
    opacity: 0.7;
}
.service-card-type {
    position: absolute;
    left: 0.33%;
    right: 0%;
    top: 17.39%;
    bottom: 70.87%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #21325E;
}
.service-card-text {
    position: absolute;
    top: 39.57%;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #3E497A;
    max-width: 250px;
}
.service-card-cost {
    position: absolute;
    bottom: 5.22%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.order-button.light {
    background: #FFFFFF;
}
.order-button-text.dark {
    background: linear-gradient(180deg, #3E497A 0%, #5563A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.services-button-container {
    column-gap: 16px;
    row-gap: 10px;
    padding: 0 10px;
}
.suggest-button {
    width: 286px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
    text-decoration: none;
}

.boxes {
    width: 662px;
    height: 460px;
}

@media screen and (max-width: 1200px) {
    .boxes {
        width: 365px;
        height: 352px;
    }
    .splide__arrows {
        display: initial !important;
    }
}

.boxes-wpapper {
    max-width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}

.splide__arrow {
    opacity: 1;
}
.splide__arrows {
    display: none;
}

/* x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .services-header {
        font-size: 24px;
        line-height: 29px;
    }
    .services-section {
        padding: 16px 0;
        overflow: hidden;
    }
    .splide {
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .suggest-button {
        width: 183px;
        height: 27px;
    }
    .services-button-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        display: none !important;
    }
    .service-card {
        width: 234px;
        height: 187px;
        background-size: 100% 100%;
        padding: 0 16px;
    }
    .service-card-type {
        font-size: 16px;
        line-height: 20px;
    }
    .service-card-distance {
        font-size: 16px;
        line-height: 20px;
    }
    .service-card-text {
        font-size: 16px;
        line-height: 19px;
        width: 195px;
        top: 38%;
    }
    .service-card-cost {
        font-size: 18px;
        line-height: 22px;
        bottom: 9%;
    }
    .boxes-wpapper {
        width: 310px;
        height: 299px;
        left: -75px;
        bottom: -60px;
    }
    .boxes {
        width: 310px;
        height: 299px;
        object-fit: contain;
    }
}