.top-section__wrapper {
    background: linear-gradient(180deg, #F8F6F7 0%, rgba(255, 255, 255, 0.7) 100%);
    overflow: hidden;
}
.logo-container {
    height: 38px;
    text-decoration: none;
}
.logo-image {
    width: 34px;
    height: 36px;
    margin-top: 2px;
}
.logo-text {
    width: 82px;
    height: 38px;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #21325E;
}
.navbar-nav {
    height: 20px;
    margin-left: 48px;
    column-gap: 48px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #21325E;
    padding: 0 !important;
}
.top-section {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 27px;
    position: relative;
}
.navbar {
    padding: 0 70px;
    height: 40px;
    z-index: 1;
}

.container-fluid, .nav-item {
    padding: 0;
}
.navbar-right-container {
    column-gap: 28px;
}

.navbar-right-item {
    text-decoration: none;
    column-gap: 7px;
}
.top-panel-right-bg {
    position: absolute;
    width: 532px;
    height: 495px;
    right: 0;
    top: -183px;
    z-index: 0;
    background: linear-gradient(180deg, #F0C760 0%, #FBD64E 100%);
    border-radius: 20px 20px 0 0;
    transform: rotate(180deg);
}

.top-section-content {
    padding-left: 70px;
    max-width: 100vw;
    overflow: visible;
}

.left-col {
    margin-top: 108px;
    margin-bottom: 75px;
}

.top-section-content div {
    padding: 0;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 49px;
    color: #21325E;
    margin-top: 28px;
    margin-bottom: 40px;
    margin-right: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #3E497A;
    max-width: 601px;
    margin-bottom: 32px;
    margin-top: 0;
}

.gazel {
    width: 640px;
    height: 394px;
    margin-right: 88px;
    opacity: 1 !important;
}

.dialogues-container {
    position: absolute;
    top: 0;
    right: 100px;
}

.gazel-wrapper {
    margin-left: -38px;
}

.right-col {
    margin-top: 108px;
    position: relative;
}

.dialogue-wrapper-left {
    width: 138px;
    height: 80px;
    position: absolute;
    top: 13px;
    left: 0;
    background-image: url("../images/dialogue-bg-left.png");
}
.dialogue-wrapper-center {
    width: 100px;
    height: 82px;
    position: absolute;
    top: -83px;
    right: 340px;
    background-image: url("../images/dialogue-bg-center.png");
}
.dialogue-wrapper-right {
    width: 140px;
    height: 80px;
    position: absolute;
    top: -58px;
    right: 83px;
    background-image: url("../images/dialogue-bg-right.png");
}

.dialogue-text-left {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #FFFFFF;
}
.dialogue-text-center {
    margin-top: 20px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FBD64E;
}
.dialogue-text-right {
    margin-top: 9px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    text-align: center;
    color: #FBD64E;
}
.order-button {
    width: 140px;
    height: 42px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
    background: linear-gradient(180deg, #3E497A 0%, #5563A2 100%);
    border-radius: 5px;
    text-decoration: none;
}
.order-button-img {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.order-button-text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 5px;
}
.order-phone-number {
    margin-left: 16px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #3E497A;
}

/* x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .top-section {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .order-phone-number {
        visibility: collapse;
    }
    .gazel {
        width: 334px;
        height: 214px;
    }
    h1 {
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
        margin-top: 0;
        z-index: 1000;
        position: relative;
    }
    h1:after {
        content: "Быстрые и\A безопасные\A грузоперевозки";
        white-space: pre-wrap;
        z-index: 1000;
    }
    h1 span {
        display: none;
    }
    .navbar {
        padding-left: 28px;
        padding-right: 28px;
    }
    h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    h2 span {
        display: none;
    }
    h2:after {
        content: "Переезды,\a грузовое такси и\a транспортировка\a крупных грузов\a по Кирову и\a Калужской\a области";
        white-space: pre-wrap;
    }
    .left-col {
        margin-top: 14px;
        margin-bottom: 0;
    }
    .top-section-content {
        padding-left: 28px;
    }
    .navbar-nav {
        margin-left: 17px;
    }

    .top-panel-right-bg {
        width: 97px;
        height: 285px;
        top: -200px
    }
    .gazel {
        object-fit: contain;
        object-position: left;
        height: 197px;
    }
    .gazel-wrapper {
        margin-left: -170px;
        width: 235px;
    }
    .right-col {
        display: flex;
        justify-content: end;
        margin-top: 123px;
    }
    .order-button-text {
        font-size: 11.5714px;
        line-height: 14px;
        margin-left: 3px;
    }
    .order-button {
        width: 90px;
        height: 27px;
    }
    .order-button-container {
        display: none !important;
    }
    .order-button-img {
        width: 15.43px;
        height: 15.43px;
        margin-left: 8px;
    }
}

/* large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
    .navbar-right-container {
        visibility: collapse;
        width: 0;
    }
    .dialogue {
        visibility: collapse;
    }
}