body {

}
.logo-container {
    width: 126px;
    height: 38px;
    text-decoration: none;
}
.logo-image {
    width: 34px;
    height: 36px;
    margin-top: 2px;
}
.logo-text {
    width: 82px;
    height: 38px;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #21325E;
}
.navbar-nav {
    height: 20px;
    margin-left: 48px;
    column-gap: 48px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #21325E;
    padding: 0 !important;
}
.top-panel {
    padding-top: 35px;
    padding-bottom: 27px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.navbar {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 0;
    padding-bottom: 0;
}
.container-fluid, .nav-item {
    padding: 0;
}
.navbar-right-container {
    column-gap: 28px;
}
.navbar-right-item {
    text-decoration: none;
    column-gap: 7px;
}
.top-panel-right-bg {
    position: absolute;
    width: 532px;
    height: 489px;
    right: 0;
    top: 0;
    z-index: -1000;
    background: linear-gradient(180deg, #F0C760 0%, #FBD64E 100%);
    border-radius: 20px 20px 0 0;
    transform: rotate(180deg);
}
.top-panel-content {
    margin-top: 108px;
    padding-left: 70px;
}
.top-panel-content div {
    padding: 0;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 49px;
    color: #21325E;
    margin-top: 28px;
    margin-bottom: 40px;
    margin-right: -15px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #3E497A;
    max-width: 601px;
    margin-bottom: 32px;
    margin-top: 0;
}
.gazel {
    width: 640px;
    height: 394px;
}
.gazel-container {
    margin-left: -38px;
    margin-right: 88px;
    position: relative;
}
.dialogue-wrapper-left {
    width: 138px;
    height: 80px;
    position: absolute;
    top: 13px;
    right: 464px;
    background-image: url("../images/dialogue-bg-left.png");
}
.dialogue-wrapper-center {
    width: 100px;
    height: 82px;
    position: absolute;
    top: -83px;
    right: 240px;
    background-image: url("../images/dialogue-bg-center.png");
}
.dialogue-wrapper-right {
    width: 140px;
    height: 80px;
    position: absolute;
    top: -58px;
    right: -17px;
    background-image: url("../images/dialogue-bg-right.png");
}

.dialogue-text-left {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #FFFFFF;
}
.dialogue-text-center {
    margin-top: 20px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FBD64E;
}
.dialogue-text-right {
    margin-top: 9px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    text-align: center;
    color: #FBD64E;
}
.order-button {
    width: 140px;
    height: 42px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
    background: linear-gradient(180deg, #3E497A 0%, #5563A2 100%);
    border-radius: 5px;
    text-decoration: none;
}
.order-button-img {
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.order-button-text {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 5px;
}
.order-phone-number {
    margin-left: 16px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #3E497A;
}